<!doctype html>
<html lang="en" xmlns:th=”www.thymeleaf.org”>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>


<!--Navbar start-->

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:inline="text">Welcome </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/secure}">User Info</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="clothesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clothes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/wardrobe}">Wardrobe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/outfit}">Outfits</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/add}">Add New Item</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/}">User View</a>
                        <a class="dropdown-item" th:href="@{/admin}">Admin View</a>
                        <a class="dropdown-item" th:href="@{/register}">Registration</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
                </span>
            </ul>
        </div>
    </nav>
</div>
<!--Navbar end-->

<!--Add form begins-->
<div th:fragment="add-item">
    <div class="jumbotron">
        <h1 class="display-4">Add New Item</h1>
        <form  th:action="@{/processItem}" th:object="${item}" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01">Name</label>
                    <input type="text" th:field="*{itemName}" class="form-control" id="validationDefault01" placeholder="Enter item name..."
                           required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationDefault02">Material</label>
                    <input type="text" th:field="*{fabricMaterial}" class="form-control" id="validationDefault02" placeholder="Enter material..."
                           required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault04">Catagory</label>
                    <select class="custom-select" th:field="*{category}" id="validationDefault04" required>
                        <option selected disabled value="">Choose...</option>
                        <option th:each="category:${allcategories}" th:text="${category.categoryType}" th:value="${category.id}">
                        </option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault03">Color</label>
                    <input type="text" th:field="*{color}" class="form-control" id="validationDefault03" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationDefault05">Size</label>
                    <input type="text"th:field="*{size}" class="form-control" id="validationDefault05" required>
                </div>
                <br><br><br><br>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" th:field="*{description}" placeholder="Please enter descriptive qualities of this clothing item"
                          required></textarea>
            </div>
            <div class="col-md-2 mb-3">
                <input type="file" name="file">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>
            <hr class="my-4">
            <p>Are all of the fields above filled in? Then click below to add your new item! </p>
            <input type="submit" class="btn btn-outline-primary btn-lg" value="Add Item">
        </form>

    </div>
</div>
<!--Add form ends-->

<!--Wardrobe-->
    <div th:fragment="wardrobe-card">
        <div class="container">
            <div class="row" >
                <div class="card" style="width: 18rem;" th:each="item:${items}">
                    <div th:if="${item.images} != null">
                        <td>
                            <img th:src="${item.images}" class="card-img-top" alt="...">
                        </td>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">[[${item.itemName}]]</h5>
                        <p class="card-text">Description: [[${item.description}]]</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Materials: [[${item.fabricMaterial}]]</li>
                        <li class="list-group-item">Size: [[${item.size}]]</li>
                        <li class="list-group-item">Color: [[${item.color}]]</li>
                        <li class="list-group-item">Category: [[${item.category.categoryType}]]</li>
                    </ul>
                    <div class="card-body">
<!--                        <button type="checkbox" name="item" th:id="{item.id}" class="btn btn-outline-info">Select</button>-->
                        <input type="checkbox" name="checkedItems" th:id="${item.id}" th:value="${item.id}">Select
                        <a href="#" class="card-link" th:href="@{/delete/{id}(id=${item.id})}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Wardrobe-->

<!--Account Information begins-->

<div th:fragment="user-info">
    <div class="card">
        <h4 class="card-header">[[${user.firstName}]] [[${user.lastName}]]</h4>
        <div class="card-body">
            <div th:each="role : ${roles}">
                <h5 class="card-title" th:inline="text">You are currently logged in as [[${role.role}]]</h5>
            </div>
            <br><br>
            <h6>Username: </h6>
            <p class="card-text" th:text="${user.username}"></p>
            <br>
            <h6>Password: </h6>
            <p class="card-text" th:text="${user.password}"></p>
            <br>
            <h6>Email: </h6>
            <p class="card-text" th:text="${user.email}"></p>
            <br>
            <h6>Phone Number: </h6>
            <p class="card-text" th:text="${user.phone}"></p>
        </div>
    </div>
</div>

<!--Account Information ends-->



<!--All users-->
<div th:fragment="all-users">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            [[${user.firstName}]] [[${user.lastName}]]
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <div th:each="role : ${roles}">
                                    <h5 class="card-title" th:inline="text">This users role is [[${role.role}]]</h5>
                                </div>
                                <br><br>
                                <h6>Username: </h6>
                                <p class="card-text" th:text="${user.username}"></p>
                                <br>
                                <h6>Password: </h6>
                                <p class="card-text" th:text="${user.password}"></p>
                                <br>
                                <h6>Email: </h6>
                                <p class="card-text" th:text="${user.email}"></p>
                                <br>
                                <h6>Phone Number: </h6>
                                <p class="card-text" th:text="${user.phone}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!--All users-->










<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>