<!DOCTYPE html>
<html lang=”en” xmlns:th=”www.thymeleaf.org”>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .container{
            max-width: 100% !important;
            height: 100% !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }
    </style>
    <title>Login</title>
</head>

<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--<h2>Login Page</h2>-->
<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <!--        left of page-->
        <div class="col-md-8">
            <nav class="navbar navbar-light bg-light">
              <span class="navbar-text">
                <h5>Welcome to,</h5>
                  <h2>The Wardrobe</h2>
              </span>
            </nav>
            <div class="logImg">
                <!--                <img  src="https://images.pexels.com/photos/4056475/pexels-photo-4056475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img" alt="cover-image">-->
                <img  src="https://images.pexels.com/photos/3965545/pexels-photo-3965545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img" alt="cover-image">
            </div>
        </div>
        <!--        right of page log in form-->
<!--        <div th:if="${param.error}">-->
<!--            Invalid username or password-->
<!--        </div>-->
<!--        <form th:action="@{/login}" method="post">-->
<!--            <div>-->
<!--                <label>Username: <input type="text" name="username"></label>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label>Password: <input type="text" name="password"></label>-->
<!--            </div>-->

<!--            <input type="submit" value="Sign In">-->
<!--            Login page-->
<!--        </form>-->

        <!--                    Username-->
        <div class="col-6 col-md-4">
            <br><br><br><br>
            <h3>User Information</h3>
            <br><br><br><br>
                    <div th:if="${param.error}">
                        Invalid username or password
                    </div>
        <form th:action="@{/login}" th:object="${user}" method="post">
        <div class="form-row">
            <div class="col-12">
                <label for="validationServer07">Username</label>
                <input name="username" type="text" class="form-control is-invalid" id="validationServer07" required>
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>

            <!--                        Password-->
            <div class="col-12">
                <label for="validationServer08">Password</label>
                <input type="password" name="password" class="form-control is-invalid" id="validationServer08" required>
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                <label class="form-check-label" for="invalidCheck3">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <!--                        <div class="col-6">-->
        <!--                            <button type="submit" class="btn btn-outline-success btn-lg">Login</button>-->
        <!--                        </div>-->
    <div class="row">
        <div class="col-3">
            <input class="btn btn-outline-success btn-lg" type="submit" value="Login"  onclick="document.getElementById('myInput').value=''">
            <!--                            <button type="submit" class="btn btn-outline-primary btn-lg" onclick="document.getElementById('myInput').value=''">Add User</button>-->
        </div>
        <div class="col-3">
            <input class="btn btn-outline-primary btn-lg" type="submit" th:href="@{/signup}" value="Sign Up">
            <!--                            <button type="submit" class="btn btn-outline-primary btn-lg" onclick="document.getElementById('myInput').value=''">Add User</button>-->
        </div>
    </div>
    </form>
        </div>
    </div>
</div>
<!--Login page ends-->

</body>
</html>