<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2b26c5529b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="Styles.css">
</head>
<body>

<div th:replace="fragment :: navbar"></div>


<h4>Wardrobe List</h4>

<form th:action="@{/outfit}" th:object="${outfit}" method="post">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active">Tops</a>
            <div id="tops" th:replace="fragment :: wardrobe-card"></div>
        </li>
        <li class="nav-item">
            <a class="nav-link">Bottoms</a>
            <div id="bottoms" th:replace="fragment :: wardrobe-card"></div>
        </li>
        <li class="nav-item">
            <a class="nav-link">Shoes</a>
            <div id="shoes" th:replace="fragment :: wardrobe-card"></div>
        </li>
        <li class="nav-item">
            <a class="nav-link">Jackets</a>
            <div id="jackets" th:replace="fragment :: wardrobe-card"></div>
        </li>
        <li class="nav-item">
            <a class="nav-link">Accessories</a>
            <div id="accessories" th:replace="fragment :: wardrobe-card"></div>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
    <input type="submit" value="Try Outfit!">
</form>

